mat-form-field {
  display: block;
  line-height: 1.6;
  margin: 20px;
  textarea {
    height: 100px;
  }
}
mat-error{
  padding-top: 5px;
}
form {
  margin: 20px;
}

.editor-container {
  height: 500px;

  div {
    margin: 20px 0 20px 0;

    h1 {
      display: inline;
    }

    button {
      float: right;
    }
  }

}

.action-button {
  padding: 50px 20px 20px;
  display: flex;

  button {
    flex: 1;
    margin: 10px;
  }

}

.delete-button {
  display:flex;
  justify-content:center;
  align-items:center;
  button {
    width: 60%;
  }
}
