<form [formGroup]="taskForm">
  <mat-form-field appearance="outline">
    <mat-label>任务名</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>描述</mat-label>
    <textarea matInput formControlName="description" ></textarea>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>cron表达式</mat-label>
    <input matInput formControlName="cronExpression" >
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>间隔时间(ms)</mat-label>
    <input matInput formControlName="interval">
  </mat-form-field>
  <mat-slide-toggle formControlName="async">并发执行任务</mat-slide-toggle>

  <div class="editor-container">
    <H1>执行代码</H1>
    <ngx-monaco-editor [options]="editorOptions" formControlName="code"></ngx-monaco-editor>
  </div>
</form>
<div class="action-button">
  <button mat-raised-button color="accent" (click)="saveTask()">
    保存
  </button>
  <button mat-raised-button color="warn" routerLink="/task">
    取消
  </button>
</div>


