.mat-column-action {
  width: 10%;
  text-align: center;
  button {
    margin: 10px;
  }
}

.mat-column-key {
  width: 15%;
}

.mat-column-value {
  //似乎能起到 限制宽的效果
  max-width: 0;
  border-right: 1px solid currentColor;
  margin-right: 5px;
  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}

