<div>
  <mat-form-field>
    <mat-label>状态</mat-label>
    <mat-select [formControl]="done">
      <mat-option>全部</mat-option>
      <mat-option [value]="false">未完成</mat-option>
      <mat-option [value]="true">已完成</mat-option>
    </mat-select>
  </mat-form-field>

</div>
<div class="table-container scroll-bar">
  <table mat-table [dataSource]="instances" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> 名字</th>
      <td mat-cell *matCellDef="let element"> {{element.name ?? 'debug任务key:' + element.key}}</td>
    </ng-container>
    <ng-container matColumnDef="createDate">
      <th mat-header-cell *matHeaderCellDef> 创建时间</th>
      <td mat-cell *matCellDef="let element"> {{element['createDate']}}</td>
    </ng-container>
    <ng-container matColumnDef="schedule">
      <th mat-header-cell *matHeaderCellDef> 一次性任务</th>
      <td mat-cell *matCellDef="let element"> {{element['schedule'] ? '否' : '是'}}</td>
    </ng-container>
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> 状态</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon color="{{element.done ? 'warn' : 'accent'}}">lens</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> 操作</th>

      <td mat-cell *matCellDef="let element">
        <button matTooltip="查看代码" mat-mini-fab color="accent"
                (click)="showCode(element)">
          <mat-icon>code</mat-icon>
        </button>
        <button *ngIf="!element['schedule']&&!element.done" matTooltip="停止" mat-mini-fab color="warn"
                (click)="stopInstance(element)">
          <mat-icon>stop</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
