.mat-column-action {
  width: 10%;
  text-align: center;
  button {
    margin: 10px;
  }
}
.mat-column-state {
  width: 5%;
  text-align: center;
}
.mat-column-createDate {
  width: 10%;
  text-align: center;
}
.mat-column-schedule {
  width: 5%;
  text-align: center;
}
