<div class="form" [formGroup]="queryForm">
  <mat-form-field>
    <input matInput formControlName="name" autocomplete="off" placeholder="输入要查询的名字">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"
            *ngIf="queryForm.controls['name'].value"
            (click)="queryForm.controls['name'].setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="description" autocomplete="off" placeholder="输入要查询的描述">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"
            *ngIf="queryForm.controls['description'].value"
            (click)="queryForm.controls['description'].setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-label>状态</mat-label>
    <mat-select formControlName="enabled">
      <mat-option>全部</mat-option>
      <mat-option value="false">停止</mat-option>
      <mat-option value="true">运行</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="accent" class="new-task-button" routerLink="/task/new">新建任务</button>
</div>
<div class="table-container scroll-bar">
  <table mat-table [dataSource]="tasks" class="mat-elevation-z8"
         matSort matSortActive="createDate" matSortDisableClear matSortDirection="desc">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> 名字</th>
      <td mat-cell *matCellDef="let element"> {{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="createDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="" disableClear> 创建日期</th>
      <td mat-cell *matCellDef="let element"> {{element["createDate"]}} </td>
    </ng-container>

    <ng-container matColumnDef="updateDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="" disableClear> 最后修改日期</th>
      <td mat-cell *matCellDef="let element"> {{element["updateDate"]}} </td>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="" disableClear> 运行状态</th>
      <td mat-cell *matCellDef="let element"> {{element.enabled ? '运行' : '停止'}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> 操作</th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab matTooltip="编辑" color="primary" routerLink="/task/{{element.id}}">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab matTooltip="查看日志" color="primary" routerLink="/log" [queryParams]="{taskId:element.id}">
          <mat-icon>link</mat-icon>
        </button>
        <button *ngIf="element.enabled" matTooltip="停止" mat-mini-fab color="warn" (click)="switchTask(element)">
          <mat-icon>stop</mat-icon>
        </button>
        <button *ngIf="!element.enabled" matTooltip="启动" mat-mini-fab color="accent" (click)="switchTask(element)">
          <mat-icon>play_circle_outline</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<mat-paginator [length]="resultsLength" showFirstLastButtons [pageSizeOptions]="[30, 50, 100]"></mat-paginator>
