@use '@angular/material' as mat;
.sidenav-container {
  height: 100%;
}
.app-sidenav {
  min-width: 150px;
}

.app-content {
  padding: 5px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}


.mat-list-item{
  margin: 5px;
  text-align: center;
}

.clickable {
  cursor: pointer;
  &:hover {
    @include mat.elevation(8);
  }
}
