.mat-column-label {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 15px;
  text-align: center;
}

.mat-column-text {
  padding-left: 16px;
  font-size: 15px;

  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}

.mat-column-createDate {
  border-left: 1px solid currentColor;
  padding-left: 15px;
  width: 150px;
  font-style: italic;
}

.mat-column-action {
  width: 32px;
  text-align: center;
}

mat-form-field {
  padding: 5px;
  line-height: 1.4
}
