.mat-column-level {
  width: 5%;
  border-right: 1px solid currentColor;
  padding-right: 15px;
  text-align: center;
}

.mat-column-task {
  width: 10%;
  border-right: 1px solid currentColor;
  text-align: center;
}

.mat-column-text {
  padding-left: 16px;
  padding-right: 16px;
  //似乎能起到 限制宽的效果
  max-width: 0;

  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}

.mat-column-createDate {
  border-left: 1px solid currentColor;
  padding-left: 15px;
  width: 10%;
  border-right: 1px solid currentColor;
  font-style: italic;
}

.mat-column-action {
  text-align: center;
  width: 10%;

  button {
    margin: 10px;
  }
}

mat-form-field {
  padding: 5px;
}

.form {
  font-size: 15px;
  display: inline-block
}

mat-slide-toggle {
  float: right;
  padding-top: 30px;
  padding-right: 20px;
}


