.mat-column-label {
  width: 5%;
  border-right: 1px solid currentColor;
  padding-right: 15px;
  text-align: center;
}

.mat-column-text {
  padding-left: 16px;
  padding-right: 16px;
  //似乎能起到 限制宽的效果
  max-width: 0;
  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}

.mat-column-createDate {
  border-left: 1px solid currentColor;
  padding-left: 15px;
  width: 10%;
  font-style: italic;
}

.mat-column-action {
  border-left: 1px solid currentColor;
  width: 5%;
  text-align: center;
}

mat-form-field {
  padding: 5px;
  line-height: 1.4
}
