/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import "src/app/theme-definition";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
}

// 设置snack-bar背景
.snack-bar {
  background: mat.get-color-from-palette($background, app-bar) !important;
}

// table 滚动条
.table-container {
  position: relative;
  max-height: 600px;
  overflow: auto;
}

.query-form {
  mat-form-field {
    padding: 5px;
  }

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 15px;

  .right-button {
    margin-left: auto;
    margin-right: 5px;
  }
}

.scroll-bar {
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-bar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background: mat.get-color-from-palette($primary);
}
